@import url('style.css');
@import url('responsive.css');


main {
    grid-template-areas: '.';
    row-gap: 80px;
    margin-top: 20px;
}



nav#menu-multi {
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    padding: 7px 0;
    border-radius: 50px;
    margin: 20px auto;
    background-color: #F2F0D8;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.159);
}

nav#menu-multi a {
    padding: 7px 7px 0 7px;
    border: 2px solid #010326;
    border-radius: 15px;
    text-decoration: underline;
    color: #F24B4B;
    background-color: white;
    transition: .5s ease;
}

nav#menu-multi a:hover {
    color: white;
    background-color: #010326;
}

nav#menu-multi span {
    font-size: 2em;
}


.enquadramento {
    margin-top: 20px;
}

.enquadramento > div {
    width: 604.8px;
    height: 405px;
    border: 3px #F24B4B solid;
    margin: auto;
    margin-bottom: 20px;
}

.enquadramento iframe {
    position: absolute;
    z-index: -1;
    transform: 2s ease;
    margin-top: 10px;
    margin-left: 11.5px;
}

.enquadramento > figure {
    display: flex;
    justify-content: space-around;
}

.enquadramento > figure a {
    cursor: zoom-in;
    display: flex;
    border: 3px solid #F24B4B;
}

.enquadramento > figure a > img {
    width: 170px;
    height: auto;
}



#video aside {
    display: flex;
    justify-content: center;
}

#video aside > iframe {
    max-width: 700px;
    height: auto;
    aspect-ratio: 16/9;
}



#poema > h3 {
    margin-bottom: -12px;
    font-size: 1.7em;
    text-align: center;
    color: #F24B4B;
}

#poema aside {
    max-width: 450px;
    padding: 20px 10px 10px 10px;
    margin: auto;
    background-color: #01032638;
}

#poema aside p {
    text-indent: 0;
    background-color: transparent;
}



.elegante {
    border-bottom: 3px solid black;
    margin-bottom: 10px;
    font-size: 2em;
    font-family: var(--fonte-titulos);
    text-align: left;
}