@import url('style.css');


@keyframes mudar-sombra {
    0% {
        box-shadow: 10px 12px 1px 1px #5F5FB3;
    }

    30% {
        box-shadow: 12px 14px 1px 1px #3B3B91;
    }
    40% {
        box-shadow: 12px 14px 1px 1px #3B3B91;
    }
    50% {
        box-shadow: 12px 14px 1px 1px #3B3B91;
    }
    60% {
        box-shadow: 12px 14px 1px 1px #3B3B91;
    }
    70% {
        box-shadow: 12px 14px 1px 1px #3B3B91;
    }

    100% {
        box-shadow: 10px 12px 1px 1px #5F5FB3;
    }
}



body {
    grid-template-rows: 100px 1fr 70px;
    grid-template-areas: 'header-area header-area header-area'
                         '. main-area .'
                         'footer-area footer-area footer-area';
}



main {
    margin-top: 30px;
}



form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 840px;
    grid-template-areas: 'fieldset-identificacao'
                         'fieldset-dados';
    grid-gap: 70px;
    margin-top: 30px;
}



fieldset {
    border: none;
    border-top: 2px solid black;
}

legend {
    font-weight: bold;
    font-size: 1.5em;
    padding: 0 5px;
    margin-left: 30px;
}



.form-identificacao {
    grid-area: fieldset-identificacao;
    display: flex;
    flex-direction: column;
}

.form-identificacao > img {
    width: 60%;
    height: auto;
    margin: auto;
}

.form-identificacao > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0 40px 0;
}

.form-identificacao > div > div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form-identificacao > div > div > label {
    margin-left: -10px;
}

.form-identificacao > div > div > input[type="text"],
.form-identificacao > div > div > input[type="email"]
{
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 12px 1px 1px #F0F0F0;
}

.form-identificacao > div > div > input[type="text"]:focus-visible,
.form-identificacao > div > div > input[type="email"]:focus-visible
{
    outline: 1px solid red;
    border-color: red;
}



.form-dados {
    grid-area: fieldset-dados;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.form-dados label {
    font-weight: bold;
}


.datas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.datas > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.datas > div > input[type="date"] {
    cursor: pointer;
    outline: black;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 10px 12px 1px 1px #F0F0F0;
    transition: .4s ease-in-out;
}

.datas > div > input[type="date"]:hover,
.datas > div > input[type="date"]:focus,
.caixa-texto-pedidos textarea:hover,
.caixa-texto-pedidos textarea:focus
{
    animation: mudar-sombra 2.3s ease-in-out infinite;
}


.numero-passageiros {
    display: flex;
    justify-content: center;
    width: 300px;
    border-bottom: 2px solid black;
    margin: 0 auto;
}

.numero-passageiros > input[type="number"] {
    outline: none;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #F24B4B;
}


.transportes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.transportes select {
    font-size: 1em;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    transition: .4s ease-in-out;
}

.transportes select:hover {
    transform: scale(1.07);
}

.transportes option:nth-child(2n + 1) {
    background-color: rgba(128, 128, 128, 0.121);
}


.servico-viagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servico-viagem p {
    font-weight: bold;
}

.servico-viagem div {
    display: flex;
    column-gap: 20px;
}

.servico-viagem label {
    cursor: pointer;
    font-weight: normal;
    color: gray;
}

.servico-viagem label:hover {
    text-decoration: underline black;
    transform: scale(1.15);
}

.servico-viagem input[type="radio"] {
    appearance: none;
}

.servico-viagem input[type="radio"]:checked + label {
    font-weight: bold;
    letter-spacing: 1px;
    color: #F24B4B;
}


.caixa-texto-pedidos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-texto-pedidos textarea {
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    box-shadow: 10px 12px 1px 1px #F0F0F0;
}


.gastar-por-pessoa input[type="number"],
.gastar-por-dia input[type="number"]
{
    position: relative;
    width: 70px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 1em;
    text-align: right;
}



.botoes {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 30px 0;
}

.enviar,
.reiniciar {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 10px 20px;
    border: 2px solid #00010D;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #00010D;
    background: transparent;
    transition: color 0.4s;
}

.enviar::before,
.reiniciar::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background: #20448C;
    transition: height 0.4s;
}

.enviar::before {
    top: 0;
}

.reiniciar::before {
    bottom: 0;
}

.enviar:hover,
.reiniciar:hover {
    color: white;
}

.enviar:hover::before,
.reiniciar:hover::before {
    height: 100%;
}
