@media screen and (max-width: 1150px) {
    body {
        display: grid;
        grid-template-columns: 4% 1fr 4%;
        grid-template-rows: 100px 80vh 1fr 1fr 1fr 1fr 70px;
        grid-template-areas: 'header-area header-area header-area'
        '. main-area .'
        'article-poema-area article-poema-area article-poema-area'
        '. article-paisagem-area .'
        'article-cidades-area article-cidades-area article-cidades-area'
        'article-paralax-area article-paralax-area article-paralax-area'
        'footer-area footer-area footer-area';
        grid-gap: 10px;
        background-color: var(--cor-rosa-claro-acinzentado);
    }
}





@media screen and (min-width: 892px) {
    section#enquadramento {
        display: flex;
        justify-content: space-evenly;
        max-width: 800px;
        margin: auto;
    }
    
    section#enquadramento > figure {
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 40px;
    }

    section#enquadramento > figure a {
        margin: 0 0 10px 0;
    }
}