@charset "UTF-8";

* {
    box-sizing: 0;
}

:root {
    --cor-azul-escura: rgb(11, 64, 107);
}


body {
    background-color: rgba(128, 128, 128, 0.199);
}



header {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}



nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
}

nav > a {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-azul-escura);
    margin: 5px 10px;
}



nav div.linha-decorativa {
  width: 60%;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--cor-azul-escura), transparent);
}



main {
    margin: 70px 20px;
}

main > section {
    margin-left: 20px;
}

main > section > h1 {
    margin-left: -20px;
}
