@charset "UTF-8";

@keyframes voar {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
}



* {
    box-sizing: 0;
}

:root {
    --cor-azul-escura: rgb(11, 64, 107);
}



body {
    background-color: rgba(128, 128, 128, 0.199);
}



header {
    display: flex;
    flex-direction: column;
}



nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
}

nav > a {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-azul-escura);
    border: 3px solid transparent;
    border-radius: 7px;
    margin: 5px 10px;
    transition: .5s ease;
}



nav div.linha-decorativa {
  width: 60%;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--cor-azul-escura), transparent);
}



main {
    margin: 70px 20px;
}

main > section {
    margin-left: 20px;
}

main > section > h1 {
    margin-left: -20px;
}



img#robo-voando {
    display: none;
    position: fixed;
    right: 25px;
    bottom: -10px;
    width: 170px;
    height: auto;
    animation: voar 3s ease-in-out 10;
}
