@import url('style.css');

body {
    grid-template-rows: 100px 1fr 70px;
    grid-template-areas: 'header-area header-area header-area'
                         '. main-area .'
                         'footer-area footer-area footer-area';
}



main {
    margin-top: 30px;
}



form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 540px 1fr 270px;
    grid-template-areas: 'fieldset-identificacao'
                         'fieldset-perguntas'
                         'fieldset-feedback';
    grid-gap: 70px;
    margin-top: 30px;
}



fieldset {
    border: none;
    border-top: 2px solid black;
}

legend {
    font-weight: bold;
    font-size: 1.5em;
    padding: 0 5px;
    margin-left: 30px;
}



.form-identificacao {
    grid-area: fieldset-identificacao;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
}

.form-imagem {
    width: 50%;
    height: 50%;
}

.form-imagem img {
    width: 400px;
    height: auto;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    width: 50%;
}

.form-cadastro > div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.form-cadastro input[type=text],
.form-cadastro input[type=email] {
    width: 200px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.312);
}

.form-cadastro input[type=text]:focus-visible,
.form-cadastro input[type=email]:focus-visible {
    outline: 1px solid red;
}



.form-perguntas {
    grid-area: fieldset-perguntas;
}

.form-perguntas > div {
    margin-top: 70px;
}

section {
    border-top: 1px solid black;
    margin-bottom: 90px;
}

section:last-child {
    margin-bottom: 0;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: -20px auto 0 auto;
    color: #F24B4B;
    background-color: #00010D;
}

p {
    padding: 0;
    margin: 10px 0;
}


.perguntas-1-3,
.perguntas-4-6,
.perguntas-7-9 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px auto;
}

.perguntas-4-6 {
    flex-direction: row-reverse;
}

.perguntas-1-3-imagem,
.perguntas-4-6-imagem,
.perguntas-7-9-imagem {
    display: flex;
    justify-content: flex-start;
    width: 45%;
}

.perguntas-4-6-imagem {
    justify-content: flex-end;
}

.perguntas-1-3-imagem img,
.perguntas-4-6-imagem img,
.perguntas-7-9-imagem img {
    width: 300px;
    height: auto;
}

.perguntas-1-3-conteudo,
.perguntas-4-6-conteudo,
.perguntas-7-9-conteudo {
    width: 55%;
}

.pergunta1,
.pergunta2,
.pergunta3,
.pergunta4,
.pergunta5,
.pergunta6,
.pergunta7,
.pergunta8,
.pergunta9,
.pergunta10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.pergunta2 label,
.pergunta3 label,
.pergunta4 label,
.pergunta10 label {
    cursor: pointer;
}

.pergunta2 div,
.pergunta3 div {
    display: flex;
    align-items: center;
    column-gap: 3px;
}


.pergunta1 input[type="text"] {
    width: 180px;
    padding: 3px 7px;
    border: none;
    border-bottom: 1px solid black;
}

.pergunta1 input[type=text]:focus-visible {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}


.pergunta2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pergunta2 input[type="radio"] {
    cursor: pointer;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #f3f3f3, #ccc);
}

.pergunta2 input[type="radio"]:checked {
    background: linear-gradient(to bottom right, #4A90E2, #1D3A6C);
}


.pergunta3 input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #666;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pergunta3 input[type="checkbox"]:checked {
    background: #666;
    border-color: #666;
}

.pergunta3 input[type="checkbox"]:checked::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: 4px;
    left: 4px;
}



.pergunta4 input[type="number"],
.pergunta7 input[type="number"] {
    width: 93px;
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 14px;
    transition: 0.3s ease;
}

.pergunta4 input[type="number"]:hover,
.pergunta7 input[type="number"]:hover {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.pergunta4 input[type="number"]:focus,
.pergunta7 input[type="number"]:focus {
    border-color: #666;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.pergunta5 input[type="time"] {
    cursor: pointer;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 6px 6px 10px #b3b3b3, -6px -6px 10px #ffffff;
    border: none;
    outline: none;
    font-size: 16px;
    text-align: center;
    transition: box-shadow 0.3s;
}

.pergunta5 input[type="time"]:focus {
    box-shadow: inset 3px 3px 8px #b3b3b3, inset -3px -3px 8px #ffffff;
}


.pergunta6 input[type="color"] {
    cursor: pointer;
    width: 80px;
    height: 50px;
    border: 5px solid;
    border-radius: 6px;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #ff7e5f, #feb47b, #86a8e7, #7f7fd5);
    transition: border 1s ease;
}

.pergunta6 input[type="color"]:focus {
    border-image-source: linear-gradient(45deg, #7f7fd5, #86a8e7, #feb47b, #ff7e5f);
}


.pergunta8 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.pergunta8 input[type="range"] {
    -webkit-appearance: none;
    outline: none;
    width: 50%;
    height: 5px;
    background: #010326;
    border-radius: 4px;
}

.pergunta8 input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: #F24B4B;
}


.pergunta9 input[type="date"] {
    outline: none;
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 14px;
    background-color: #F2F0D8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pergunta9 input[type="date"]:hover {
    background-color: #e6dbc6;
}

.pergunta9 input[type="date"]:focus {
    border-color: #20448C;
    box-shadow: 0 0 0 3px #20448c53;
}


.pergunta10 label {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 240px;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    box-shadow: 8px 8px 16px #d1cbb8, -8px -8px 16px #ffffff;
    background: #F2F0D8;
    transition: box-shadow 0.3s;
}

.pergunta10 label:hover {
    box-shadow: inset 4px 4px 8px #d1cbb8, inset -4px -4px 8px #ffffff;
}

.pergunta10 input[type="file"] {
    display: none;
}



.form-feedback {
    grid-area: fieldset-feedback;
}

.avaliar input[type="range"] {
    -webkit-appearance: none;
    outline: none;
    width: 200px;
    height: 10px;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: inset 5px 5px 8px #b3b3b3, inset -5px -5px 8px #ffffff;
    background: #e0e0e0;
}

.avaliar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 3px 3px 6px #b3b3b3, -3px -3px 6px #ffffff;
    background: #a41e1d;
    transition: transform 0.2s ease;
}

.avaliar input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}



textarea {
    outline: none;
    resize: vertical;
    width: 100%;
    height: 100px;
    padding: 12px;
    border: 2px solid #d5afaf;
    border-radius: 8px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #401201;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea:focus {
    border-color: #a65a2e;
    box-shadow: 0 0 8px rgba(166, 90, 46, 0.5);
}



.botoes {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 30px 0;
}

.enviar,
.reiniciar {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 10px 20px;
    border: 2px solid #00010D;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #00010D;
    background: transparent;
    transition: color 0.4s;
}

.enviar::before,
.reiniciar::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background: #20448C;
    transition: height 0.4s;
}

.enviar::before {
    top: 0;
}

.reiniciar::before {
    bottom: 0;
}

.enviar:hover,
.reiniciar:hover {
    color: white;
}

.enviar:hover::before,
.reiniciar:hover::before {
    height: 100%;
}
