@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

@keyframes imagem-pulando-feliz {
    0%   { transform: scaleY(1); }
    25%  { transform: scaleY(1)   translateY(-10px); }
    50%  { transform: scaleY(0.6) translateY(10px); }
    60%  { transform: scaleY(0.6) translateX(5px)  translateY(10px); }
    65%  { transform: scaleY(0.6) translateX(-5px) translateY(10px); }
    75%  { transform: scaleY(0.6) translateX(0)    translateY(10px); }
    100% { transform: scaleY(1)   translateY(0); }
}




:root {
    --fonte-inter: "Inter", sans-serif;
    --fonte-manrope: "Manrope", sans-serif;
    --cor-cinza-claro: rgb(243, 243, 243);
}




* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-family: var(--fonte-inter);
}

p {
    font-family: var(--fonte-manrope);
}

ul {
    list-style-type: none;
}




body {
    position: relative;
    max-width:  1500px;
    margin: auto;
    background-color: var(--cor-cinza-claro);
}



header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: calc(100% - 120px);
    margin: 40px 60px 50px 60px;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 70px;
    padding: 0 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.242);
    background-color: white;
}

nav > div {
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 30%;
    font-family: var(--fonte-inter);
    font-weight: bold;
}

.nome-header {
    font-size: 2.1em;
}

.portifolio-header {
    margin-bottom: -9px;
    margin-left: -26px;
    font-size: .9em;
    font-weight: 300;
}

.paginas-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 100px;
    width: 50%;
    height: 20px;
}

.paginas-header a {
    position: relative;
    display: block;
    color: black;
    text-align: center;
    font-family: var(--fonte-inter);
    font-size: 1.1em;
    text-decoration: none;
}

.paginas-header a::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    display: block;
    width: 0;
    height: 2.5px;
    border-radius: 20px;
    background-color: black;
    transition: width 0.5s ease-in-out;
}

.paginas-header a:hover:after {
    width: 100%;
}

.paginas-header li {
    font-weight: 340;
}

.paginas-header li:nth-of-type(1) {
    font-weight: bold;
}

.redes-header {
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
    width: 100px;
    min-width: 20%;
}

.redes-header li {
    width: 34px;
    height: 34px;
}

.redes-header li img {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 7px;
}

.redes-header li:hover img {
    animation: imagem-pulando-feliz infinite 1.5s ease-in-out;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}





main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 'article-perfil article-sobre-mim';
    margin: 150px 80px;
    margin-bottom: 50px;
}




.campo-perfil {
    grid-area: article-perfil;
    position: fixed;
    top: 150px;
    left: 150px;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 13px;
}

.campo-perfil > img {
    width: 200px;
    height: auto;
    border-radius: 30px;
    border: 3px solid black;
    transition: transform 0.5s ease;
}

.campo-perfil > img:hover {
    transform: scale(1.05);
}

.nome-perfil {
    font-size: 1.4em;
}

.estudante-perfil, .contato-perfil {
    font-size: .9em;
    text-align: center;
}

.contato-perfil {
    margin-top: 10px;
}




.apresentacao {
    grid-area: article-sobre-mim;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'div-texto-sobre-mim div-texto-sobre-mim'
                         'section-competencias section-competencias'
                         'section-interesses section-educacao';
    margin-left: -30px;
    margin-bottom: 40px;
    max-width: 900px;
}

.texto-apresentacao {
    grid-area: div-texto-sobre-mim;
    position: relative;
}

.texto-apresentacao::after {
    content: '';
    position: absolute;
    top: 58px;
    left: 12px;
    display: block;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s ease-in-out;
}

.texto-apresentacao:hover::after {
    width: 203px;
}

.texto-apresentacao > span {
    cursor: default;
    position: absolute;
    top: 93px;
    left: -3px;
    width: 20px;
    height: 0;
    border-left: 1px solid black;
    font-family: var(--fonte-inter);
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    writing-mode: sideways-lr;
    background-color: var(--cor-cinza-claro);
    transition: height 0.5s ease-in-out;
    transition-delay: 1s;
}

.texto-apresentacao:hover > span {
    height: 65%;
}

.texto-apresentacao > span span {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    height: 190px;
    color: var(--cor-cinza-claro);
    transition: 0.5s ease-in-out;
    transform: translateY(-50%);
    transition-delay: .4s;
}

.texto-apresentacao:hover > span span {
    left: -25px;
    color: rgba(0, 0, 0, 0.57);
    transition-delay: 2.1s;
}

.texto-apresentacao > div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 17px;
    padding-bottom: 0;
    border-radius: 0 20px;
}

.texto-apresentacao > div h1 {
    font-size: 2em;
}

.texto-apresentacao > div p {
    text-indent: 20px;
    font-size: 1.05em;
    text-align: justify;
    letter-spacing: .5px;
    word-spacing: 2px;
    line-height: 22px;
}




.competencias {
    grid-area: section-competencias;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: fit-content;
    margin-top: 200px;
    margin-bottom: 60px;
}

.competencias h2 {
    text-align: center;
}

.competencias-container {
    display: flex;
    gap: 10px;
}

.competencias-card {
    cursor: default;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.716);
    background-color: rgba(128, 128, 128, 0.242);
    transition: transform .2s ease-in-out;
}
.competencias-card:hover {
    transform: scale(1.05);
}
.competencias-card h3 {
    display: flex;
    align-items: start;
    text-align: center;
    min-height: 80px;
}
.competencias-card ol {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    list-style-position: inside;
}
.competencias-card li p {
    display: inline;
    text-align: justify;
}



.campo-interesses {
    grid-area: section-interesses;
}

.campo-educacao {
    grid-area: section-educacao;
}

.campo-interesses,
.campo-educacao {
    position: relative;
    width: 320px;
    height: 130px;
    padding: 7px 12px;
    margin: auto;
}

.campo-interesses::before,
.campo-educacao::before {
    content: '';
    position: absolute;
    display: block;
    top: 38px;
    left: -1.5px;
    width: .3px;
    height: 110px;
    background-color: black;
    transition: height 0.5s ease-in-out;
    transition-delay: 0.5s;
}

.campo-interesses::after,
.campo-educacao::after {
    content: '';
    position: absolute;
    display: block;
    top: 17px;
    left: -7px;
    width: 10px;
    height: 10px;
    border: 1.5px solid black;
    border-radius: 50%;
    transition: top 0.5s ease-in-out;
}

.campo-interesses > h2::after,
.campo-educacao > h2::after {
    content: '';
    position: absolute;
    top: 33px;
    left: 4px;
    display: block;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.5s ease-in-out;
    transition-delay: 1s;
}

.campo-interesses ul,
.campo-educacao ul {
    list-style-type: circle;
    margin-top: 20px;
    margin-left: 35px;
}

.campo-educacao ul {
    list-style: "🎓  "
}

.campo-interesses ul li,
.campo-educacao ul li {
    margin-top: 6px;
}








@media only screen and (min-width: 1200px) {
    .campo-interesses:hover::before,
    .campo-educacao:hover::before {
        height: 0;
    }

    .campo-interesses:not(:hover)::before,
    .campo-educacao:not(:hover)::before {
        transition-delay: 1.5s;
    }

    .campo-interesses:hover::after,
    .campo-educacao:hover::after {
        top: 27px;
    }

    .campo-interesses:not(:hover)::after,
    .campo-educacao:not(:hover)::after {
        transition-delay: 2s;
    }

    .campo-interesses:hover > h2::after {
        width: 134px;
    }

    .campo-educacao:hover > h2::after {
        width: 128px;
    }
}

@media only screen and (max-width: 700px) {
    nav {
        position: relative;
        align-items: flex-start;
        height: 140px;
        padding: 15px 20px;
        margin: 20px 10px 30px 10px;
    }

    .portifolio-header {
        margin-left: -50px;
        margin-bottom: -15px;
    }

    .paginas-header a:hover:after {
        width: 0;
    }

    .paginas-header {
        position: absolute;
        top: 95px;
        left: 0;
        width: 100%;
    }

    .paginas-header a {
        width: 100px;
    }

    .redes-header li:hover img {
        animation: none;
    }
    
    main {
        position: relative;
        grid-template-columns: 100%;
        grid-template-areas: 'article-perfil'
                             'article-sobre-mim';
        row-gap: 30px;
        margin-bottom: 30px;
    }

    .campo-perfil > img:hover {
        transform: scale(1);
    }

    .campo-sobre-mim {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 'div-texto-sobre-mim'
                             'section-educacao'
                             'section-interesses';
        row-gap: 60px;
        margin: 0;
        margin-bottom: 50px;
    }

    .campo-sobre-mim > div:first-child {
        grid-area: div-texto-sobre-mim;
        position: relative;
    }

    .campo-sobre-mim > div:first-child::after {
        display: none;
    }

    .campo-sobre-mim > div:first-child > span {
        display: none;
    }

    .campo-sobre-mim > div:first-child > span span {
        display: none;
    }

    .campo-sobre-mim > div > div {
        padding: 0;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
    nav {
        position: relative;
        align-items: flex-start;
        height: 140px;
        padding: 15px 20px;
        margin: 20px 10px 30px 10px;
    }

    .portifolio-header {
        margin-left: -50px;
        margin-bottom: -15px;
    }

    .paginas-header {
        position: absolute;
        top: 95px;
        left: 0;
        width: 100%;
    }

    .paginas-header a {
        width: 100px;
    }

    .redes-header a:hover:after {
        width: 0;
    }

    .redes-header li:hover img {
        animation: none;
    }
    
    main {
        position: relative;
        grid-template-columns: 100%;
        grid-template-areas: 'article-perfil'
                             'article-sobre-mim';
        row-gap: 30px;
        margin-bottom: 70px;
    }

    .campo-perfil > img:hover {
        transform: scale(1);
    }

    .campo-sobre-mim {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 'div-texto-sobre-mim div-texto-sobre-mim'
                             'section-interesses section-educacao';
        row-gap: 25px;
        margin: auto;
    }

    .campo-sobre-mim > div:first-child {
        grid-area: div-texto-sobre-mim;
        position: relative;
    }

    .campo-sobre-mim > div:first-child::after {
        display: none;
    }

    .campo-sobre-mim > div:first-child > span {
        display: none;
    }

    .campo-sobre-mim > div:first-child > span span {
        display: none;
    }

    .campo-sobre-mim > div > div {
        padding: 0;
    }
}

@media only screen and (max-width: 650px) {
    .paginas-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        border-radius: 0 0 10px 10px;
        font-size: 1.3em;
        background-color: white;
    }

    .paginas-header li a {
        width: 100%;
    }

    main {
        margin-top: 300px;
        margin-right: 30px;
        margin-left: 30px;
    }
}