@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gentium Book Plus", serif;
}



html {
    scroll-behavior: smooth;
}



body {
    display: grid;
    grid-template-areas: 'header-area'
                         'main-area'
                         'aside-area'
                         'footer-area';

    background-color: #F2EDE4;
}



header {
    grid-area: header-area;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: #F2EDE4;
    background-color: #401801;
}

header h1 {
    font-family: "Alfa Slab One", serif;
    font-size: 2.7em;
    letter-spacing: 7px;
}

header ul {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

header li {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header li a {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

header li .material-symbols-outlined {
    font-size: 1.5em;
}

header #quantidade-no-carrinho {
    display: none;
    width: 25px;
    border-radius: 50%;
    margin-left: 7px;
    text-align: center;
    color: #401801;
    background-color: #F2EDE4;
}



#mostra-detalhe-produto {
    z-index: 10;
    overflow: hidden;
    display: none;
    width: 700px;
    height: 400px;
    padding: 10px 20px;
    padding-bottom: 30px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: white;
}

#mostra-detalhe-produto article {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#mostra-detalhe-produto figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mostra-detalhe-produto img {
    width: 250px;
    height: auto;
}

#mostra-detalhe-produto section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px;
}

#mostra-detalhe-produto h2 + p {
    font-size: .9em;
}

#mostra-detalhe-produto h2 + p + p {
    font-size: 1.6em;
}

#mostra-detalhe-produto h2 + p + p + p {
    text-align: justify;
    text-transform: capitalize;
}

#mostra-detalhe-produto h2 + p + p + p + p {
    display: flex;
    justify-content: space-around;
}

#mostra-detalhe-produto button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 300px;
    height: 35px;
    padding: 4px 20px;
    border-radius: 20px;
    margin: 0 auto;
    color: white;
    border: none;
    letter-spacing: 1px;
    background-color: #1A2873;
}



main {
    grid-area: main-area;
}

main h1 {
    margin: 20px 0;
    text-align: center;
}

#area-produtos,
#area-carrinho section {
    scroll-margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20px;
}


.produto-na-loja {
    cursor: zoom-in;
    display: grid;
    grid-template-rows: 90px 200px 60px 60px;
    grid-template-areas: 'nome'
                         'foto'
                         'preco'
                         'botao';
    width: 300px;
    height: 430px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: white;
    transition: box-shadow .4s, transform .7s;
    transform: scale(.9);
}

.produto-na-loja:hover {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.258);
    transform: scale(.92);
}

.produto-na-loja h2 {
    grid-area: nome;
    font-size: 1.3em;
    text-align: center;
}

.produto-na-loja figure {
    grid-area: foto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto-na-loja img {
    width: 110px;
    height: auto;
}

.produto-na-loja figure + p {
    grid-area: preco;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    font-size: 1.5em;
    font-style: italic;
    transform: translateX(-5px);
}

.produto-na-loja figure + p .material-symbols-outlined {
    transform: translateY(2px);
}

.produto-na-loja p + p {
    overflow: hidden;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: justify;
    text-indent: 15px;
    letter-spacing: 1px;
    background-color: white;
}

.produto-na-loja button {
    grid-area: botao;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 2a0px;
    height: 35px;
    padding: 4px 20px;
    border-radius: 20px;
    margin: auto;
    color: white;
    border: none;
    letter-spacing: 1px;
    background-color: #1A2873;
}



#area-carrinho {
    grid-area: aside-area;
    padding: 20px 0;
    margin: 30px 0;
    text-align: center;
    background-color: #8C7870;
}

#area-carrinho h1 {
    color: white;
    font-size: 1.7em;
}

#area-carrinho section button {
    background-color: rgb(189, 0, 0);
}

#area-carrinho section + p {
    color: white;
}



footer {
    grid-area: footer-area;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}