@media screen and (max-width: 1200px) {
    body {
        display: grid;
        grid-template-columns: 0% 1fr 0%;
        grid-template-rows: 100px 80px 1fr 70px;
        grid-template-areas: 'header-area header-area header-area'
                             'nav-area nav-area nav-area'
                             '. main-area .'
                             'footer-area footer-area footer-area';
        grid-gap: 10px;
        background-color: var(--cor-rosa-claro-acinzentado);
    }
    
    

    nav#menu {
        flex-direction: row;
        row-gap: 6px;
        margin: 0;
        height: 100%;
    }

    .botao-top {
        flex-direction: column;
    }

    

    .extra {
        display: none;
    }
}




@media screen and (max-width: 1030px) {
    nav#menu {
        column-gap: 60px;
    }

    nav#menu .material-symbols-outlined {
        font-size: 1.6em;
    }

    nav#menu > a span .material-symbols-outlined ~ span {
        display: none;
    }

    nav#menu > a.destaque-introducao span span:last-child {
        display: block;
    }
}



@media screen and (max-width: 780px) {  
    nav#menu {
        column-gap: 10px;
    }



    .fundo-quioto-texto {
        height: 70%;
    }
}



@media screen and (max-width: 700px) {
    header a {
        top: 110px;
        left: 10px;
        padding: 5px 10px;
        border-radius: 30px;
        background-color: #00010D;
    }  
}



@media screen and (max-width: 600px) {
    nav#menu > a.destaque-introducao .material-symbols-outlined {
        display: block;
    }

    nav#menu > a.destaque-introducao span span:last-child {
        display: none;
    }
}