@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');





:root {
    --fonte-inter: "Inter", sans-serif;
    --fonte-manrope: "Manrope", sans-serif;
    --cor-fonte: rgb(255, 255, 255, .9);
    --cor-fundo-body: #020315;
}




* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-family: var(--fonte-inter);
}

p {
    font-family: var(--fonte-manrope);
}

ul {
    list-style-type: none;
}





body {
    position: relative;
    max-width:  1500px;
    margin: auto;
}





header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 70px;
    padding: 0 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.242);
    background-color: white;
}

nav > h1 {
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 30%;
    font-family: var(--fonte-inter);
    font-weight: bold;
}

.nome-header {
    font-size: 2.1em;
    color: black;
}
.portifolio-header {
    margin-bottom: -9px;
    margin-left: -26px;
    font-size: .9em;
    font-weight: 300;
    color: black;
}

.paginas-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 100px;
    width: 50%;
    height: 20px;
}
.paginas-header a {
    position: relative;
    display: block;
    color: black;
    text-align: center;
    font-family: var(--fonte-inter);
    font-size: 1.1em;
    text-decoration: none;
}
.paginas-header a::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    display: block;
    width: 0;
    height: 2.5px;
    border-radius: 20px;
    background-color: black;
    transition: width 0.5s ease-in-out;
}
.paginas-header a:hover:after {
    width: 100%;
}
.paginas-header li {
    font-weight: 340;
}
.paginas-header li:nth-of-type(1) {
    font-weight: bold;
}

.redes-header {
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
    width: 100px;
    min-width: 20%;
}
.redes-header li {
    width: 34px;
    height: 34px;
}
.redes-header li img {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 7px;
}
.redes-header li:hover img {
    animation: imagem-pulando-feliz infinite 1.5s ease-in-out;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}





main {
    display: flex;
    margin-top: 150px;
}

.campo-perfil {
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 13px;
    width: 700px;
}
.campo-perfil > img {
    width: 200px;
    height: auto;
    border-radius: 30px;
    border: 3px solid black;
}


.nome-perfil {
    font-size: 1.4em;
}

.estudante-perfil, .contato-perfil {
    font-size: .9em;
    text-align: center;
}

.contato-perfil {
    margin-top: 10px;
}




.apresentacao {
    grid-area: article-sobre-mim;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'div-texto-sobre-mim div-texto-sobre-mim'
                         'transicao-circulo transicao-circulo'
                         'section-competencias section-competencias'
                         'section-interesses section-educacao';
    margin-left: -30px;
    margin-bottom: 40px;
    max-width: 900px;
}

.texto-apresentacao {
    grid-area: div-texto-sobre-mim;
    position: relative;
}

.texto-apresentacao::after {
    content: '';
    position: absolute;
    top: 58px;
    left: 12px;
    display: block;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s ease-in-out;
}

.texto-apresentacao:hover::after {
    width: 203px;
}

.texto-apresentacao > span {
    cursor: default;
    position: absolute;
    top: 93px;
    left: -3px;
    width: 20px;
    height: 0;
    border-left: 1px solid black;
    font-family: var(--fonte-inter);
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    writing-mode: sideways-lr;
    background-color: var(--cor-cinza-claro);
    transition: height 0.5s ease-in-out;
    transition-delay: 1s;
}

.texto-apresentacao:hover > span {
    height: 65%;
}

.texto-apresentacao > span span {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    height: 190px;
    color: var(--cor-cinza-claro);
    transition: 0.5s ease-in-out;
    transform: translateY(-50%);
    transition-delay: .4s;
}

.texto-apresentacao:hover > span span {
    left: -25px;
    color: rgba(0, 0, 0, 0.57);
    transition-delay: 2.1s;
}

.texto-apresentacao > div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 17px;
    padding-bottom: 0;
    border-radius: 0 20px;
}

.texto-apresentacao > div h1 {
    font-size: 2em;
}

.texto-apresentacao > div p {
    text-indent: 20px;
    font-size: 1.05em;
    text-align: justify;
    letter-spacing: .5px;
    word-spacing: 2px;
    line-height: 22px;
}



.transicao-circulo {
    grid-area: transicao-circulo;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: 350px;
}
.circulo {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}
.seta {
    position: absolute;
    top: 92px;
    width: 10px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    animation: infinite 4s ease-in-out;
}
.transicao-circulo:hover .seta {
    animation-name: movimentacao-seta;
}
.seta-direita {
    transform: translateX(7.5px) rotate(45deg);
}
.seta-esquerda {
    transform: translateX(-7.5px) rotate(-45deg);
}






.competencias {
    grid-area: section-competencias;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: fit-content;
    margin-bottom: 60px;
}
.competencias h2 {
    font-size: 2em;
    text-align: center;
}

.legenda-competencias {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    width: fit-content;
    padding: 3px 10px;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.192);
}
.legenda-competencias p {
    margin-right: 10px;
    font-weight: bold;
}
.legenda-competencias span {
    position: relative;
}
.legenda-competencias span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 5px;
    height: 20px;
    transform: translateY(-50%);
}

.competencias-container {
    display: flex;
    gap: 10px;
}

.competencias-card {
    cursor: default;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.716);
    background-color: rgba(128, 128, 128, 0.242);
    transition: transform .2s ease-in-out;
}
.competencias-card:hover {
    transform: scale(1.05);
}
.competencias-card h3 {
    display: flex;
    align-items: start;
    text-align: center;
    min-height: 80px;
}
.competencias-card ol {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    list-style: none;
}
.competencias-card li {
    position: relative;
}
.competencias-card li::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 5px;
    height: 20px;
    transform: translateY(-50%);
}
.competencias-card li p {
    text-align: justify;
}
.avancado::after   { background-color: green; }
.intermediario::after { background-color: orange; }
.iniciante::after    { background-color: brown; }



.campo-interesses {
    grid-area: section-interesses;
}

.campo-educacao {
    grid-area: section-educacao;
}

.campo-interesses,
.campo-educacao {
    position: relative;
    width: 320px;
    height: 130px;
    padding: 7px 12px;
    margin: auto;
}

.campo-interesses::before,
.campo-educacao::before {
    content: '';
    position: absolute;
    display: block;
    top: 38px;
    left: -1.5px;
    width: .3px;
    height: 110px;
    background-color: black;
    transition: height 0.5s ease-in-out;
    transition-delay: 0.5s;
}

.campo-interesses::after,
.campo-educacao::after {
    content: '';
    position: absolute;
    display: block;
    top: 17px;
    left: -7px;
    width: 10px;
    height: 10px;
    border: 1.5px solid black;
    border-radius: 50%;
    transition: top 0.5s ease-in-out;
}

.campo-interesses > h2::after,
.campo-educacao > h2::after {
    content: '';
    position: absolute;
    top: 33px;
    left: 4px;
    display: block;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.5s ease-in-out;
    transition-delay: 1s;
}

.campo-interesses ul,
.campo-educacao ul {
    list-style-type: circle;
    margin-top: 20px;
    margin-left: 35px;
}

.campo-educacao ul {
    list-style: "🎓  "
}

.campo-interesses ul li,
.campo-educacao ul li {
    margin-top: 6px;
}
