/* Configuração CSS para todas as páginas deste projeto de DIW */

@charset "UTF-8";

@keyframes voar {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
}



* {
    box-sizing: 0;
}

:root {
    --cor-cinza-clara: rgba(128, 128, 128, 0.199);
    --cor-azul-escura: rgb(11, 64, 107);
    --cor-azul-mais-escura: rgb(7, 44, 73);
    --cor-azul-clara:  rgb(16, 147, 190);
}



body {
    background-color: var(--cor-cinza-clara);
}



a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: darkblue;
}

a:hover {
    color: var(--cor-azul-clara);
}



header {
    display: flex;
    flex-direction: column;
}



nav#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
}

nav#menu > a {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-azul-escura);
    border: 3px solid transparent;
    border-radius: 7px;
    margin: 5px 10px;
    transition: .5s ease;
}

nav#menu > div {
  width: 60%;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--cor-azul-escura), transparent);
}



main {
    margin: 70px 20px;
}



section {
    margin: 40px 20px;
}

section > h1 {
    margin-left: -20px;
}

section > h2 {
    font-size: 1.7em;
    text-align: center;
}

section p {
    text-indent: 20px;
    text-align: justify;
    letter-spacing: 1px;
}



section#labs li {
    margin: 20px 0;
}

section#labs li a {
    text-decoration: none;
    color: white;
    background-color: var(--cor-azul-escura);
    padding: 5px 0px 5px 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.268);
}

section#labs li a span {
    color: black;
    background-color: white;
    padding: 5px 13px 5px 10px;
    border-radius: 0 20px 20px 0;
}

section#labs li a span:hover {
    color: white;
    background-color: var(--cor-azul-escura);   
}



img#robo-voando {
    display: none;
    position: fixed;
    right: 25px;
    bottom: -10px;
    width: 170px;
    height: auto;
    animation: voar 3s ease-in-out 10;
}



footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    margin: 0 -8px 0 -8px;
}

footer div {
    font-style: italic;
    padding: 8px 10px 0 10px;
}