@media screen and (min-width: 768px) {
    .destaque-introducao::before {
        display: none;
    }

    .destaque-introducao::after {
        display: none;
    }



    .destaque-atual::before {
        display: none;
    }



    nav#menu a.destaque-atual {
        text-decoration: underline;
    }



    div#video {
        padding-bottom: 372.087px;
    }



    tr:hover {
        background-color: white;
    }
}



@media screen and (min-width: 892px) {
    section#enquadramento {
        display: flex;
        justify-content: center;
    }



    section#cidade {
        max-width: 600px;
        text-align: center;
        margin-left: 0;
        margin-right: 20px;
    }


    
    aside#fotografias {
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    aside#fotografias a {
        margin: 0 0 10px 0;
    }
}

/*
@media screen and (min-width: 993px) {

}
*/