/* Configurações para todos os 4 ficheiros html */

.destaque-introducao::before {
    position: absolute;
    content: "-";
    transform: translateX(-16px);
}

.destaque-introducao::after {
    position: absolute;
    content: "-";
    transform: translateX(6px);
}



.destaque-atual::before {
    position: absolute;
    content: "»";
    transform: translateX(-20px);
}


section {
    margin-top: 60px;
    margin-bottom: 60px;
}

section#cidade {
    margin-bottom: 40px;
}

section#cidade > h1 {
    font-size: 2.2em;
    margin-bottom: 5px;
}

section#cidade > img {
    height: auto;
    width: calc(100% - 18px);
    background-color: white;
    padding: 7px;
    border: 2px black solid;
}



section a.botao {
    display: block;
    width: 200px;
    text-align: center;
    color: white;
    background-color: var(--cor-azul-escura);
    padding: 5px 10px;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid transparent;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.245);
}

section a.botao:hover {
    background-color: var(--cor-azul-clara);
    border-color: black;
}


/* Ficheiro multimedia.html */

main h2 {
    text-align: center;
    margin-bottom: 0px;
}



nav#menu-multimedia {
    margin-bottom: 50px;
}

nav#menu-multimedia ul {
    text-align: center;
    list-style-position: inside;
    list-style-type: circle;
    padding: 0;
}

nav#menu-multimedia li {
    padding-bottom: 5px;
}

nav#menu-multimedia a {
    color: black;
    text-decoration: underline;
}

nav#menu-multimedia a:hover {
    color: rgba(0, 0, 0, 0.586);
}



section#cidade {
    flex: 1;
    margin-bottom: 15px;
}

section#cidade iframe {
    height: 400px;
    max-width: 600px;
}



aside#fotografias {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

aside#fotografias > a {
    width: 150px;
    background-color: white;
    padding: 4px 4px 0 4px;
    border: 1px black solid;
    margin: 0 5px;
}

aside#fotografias > a > img {
    height: auto;
    width: 100%;
}



div#video {
    position: relative;
    padding: 20px;
    padding-bottom: 56.861%;
    margin: 0px -20px 30px -20px;
}

div#video > iframe {
    position: absolute;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.395);
    top: 5%;
    left: 5%;
    width: 91%;
    height: 91%;
    max-width: 632.625px;
    max-height: 357.212px;
}



div#poema {
    width: 355px;
    border-left: 2px black solid;
    border-bottom: 2px black solid;
    border-radius: 4px 4px 4px 10px;
    margin: auto;
}

div#poema h4 {
    text-align: center;
}

div#poema pre {
    margin: 7px 0 6px 7px;
}


/* Ficheiro local.html */

iframe {
    display: block;
    height: 400px;
    width: 100%;
    max-width: 700px;
    border: 2px black solid;
    margin: 0 auto;
}



/* Ficheiro info.html */

table {
    width: 100%;
}

table, th, td {
    border: 1px solid #444;
    border-collapse: collapse;
    padding: 5px;
}

th {
    color: white;
    background-color: #444;
}
